html {
    height: 100% !important;
}

body {
    height: 100% !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

label {
  cursor: pointer;
}

ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul li {
  list-style-type: none;
}

textarea {
    font-family: "Source Code Pro", monospace;
    height: 140px;
    resize: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 5px 0 0;
}

input[type="checkbox"] {
    height: 13px;
    width: 13px;
    vertical-align: middle;
    border: 1px solid #9c9e9e;
    border-radius: 3px;
    background-color: #e5e9e9;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 0 #fff;
}

input[type="checkbox"]:active:not(:disabled) {
    background-color: #d3d7d7;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12);
}

input[type="checkbox"]:focus {
    outline:none;
    border: 1px solid #0940fd;
    box-shadow: 0 0 0 2px #6fb5f1;
}

input[type="checkbox"]:checked:before {
    color: #454545;
    content: '\2713';
    -webkit-margin-start: 0;
    position: relative;
    left: 1px;
    top: -5px;
    font-size: 16px;
}

input[type="text"] {
  height: 1.5em;
  margin-left: 2px;
  width: 165px;
}

input[type="text"],
textarea {
    background: #fff;
    border: 1px solid #9c9e9e;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12);
    color: #454545;
    padding: 1px 4px;
}

input[type="text"]:focus,
textarea:focus {
    border: 1px solid #0055ad;
    box-shadow: 0 0 0 2px #6fb5f1;
    outline: none;
}

ul.controls {
  clear: both;
}

ul.controls > li {
  display: block;
  font-size: 1.1em;
  padding: 6px 0;
}

pre {
  background: #cdcdcd;
  font-size: 1.2em;
  padding: 14px;
}

table {
  margin-bottom: 12px;
}

  tr td {
    padding-bottom: 8px;
  }

  tr td:first-child {
    font-weight: bold;
    padding-right: 40px;
  }

#fork-me-link {
  left: 0px;
  position: absolute;
  top: 0px;
}

#main-container {
  font-family: 'Source Sans Pro', 'Helvetica Neue', arial, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  overflow: hidden;
}

.center {
  text-align: center;
}

.hid {
  display: none;
}

h1 a:active,
h1 a:link,
h1 a:hover,
h1 a:visited {
  color: #eee;
}

h2 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #454545;
  font-weight: lighter;
}

header h2 {
  line-height: 66px;
  margin-left: 18px;
}

h2 a:active, h2 a:hover, h2 a:link, h2 a:visited {
 color: #454545;
 font-weight: bold;
}

h2 a:hover {
  color: #111;
}

h3 {
    font-size: 0.9em;
    font-weight: 600;
    margin: 6px 0;
}

.rekapi-scrubber .dragon-slider {
  width: 380px !important;
}

p {
  color: #454545;
  font-size: 1.0em;
  line-height: 1.4em;
  margin-bottom: 0.8em;
}

a, a:active, a:hover, a:link, a:visited {
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
}

footer {
  margin: 40px 0px 0px;
  text-align: center;
}

.buttons {
  padding-bottom: 10px;
  text-align: center;
}

button {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #eaeaea 0%, #d8d8d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#eaeaea), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* IE10+ */
  background: linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* W3C */
  border: 1px solid #bbb;
  display: inline;
  font-size: 18px;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d8d8d8',GradientType=0  ); /* IE6-9 */
  cursor: pointer;
}

button.#update {
  width: 200px;
}

button#play,
button#pause {
}

canvas {
    display: block;
}

#sandbox {
    float: left;
}

#scaffolding-area {
    background: url(img/ui/bg_grid.png);
    float: left;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

  #scaffolding-area canvas {
    float: left;
  }

  #scaffolding-area .crosshair-container {
    height: 40px;
    width: 40px;
  }

  #scaffolding-area .crosshair {
    cursor: hand !important;
    margin: -20px;
    position: absolute;
    top: 180px;
  }

    .crosshair .dashmark {
      background: #1461FC;
      height: 2px;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }

    .crosshair .dashmark.horiz {
      top: 19px;
      width: 100%;
    }

    .crosshair .dashmark.vert {
      height: 100%;
      left: 19px;
    }

    .crosshair .rotation-control {
      left: 20px;
      position: absolute;
      top: 20px;
    }

#control-pane {
    color: #454545;
}

    #control-pane h2,
    #control-pane h3 {
        color: #454545;
    }

    #control-pane .millisecond-input {
        width: 65px;
    }

    #control-pane label {
        padding-right: 2px;
    }

    #control-pane .keyframe:first-child div {
        clear: none;
        float: left;
    }

    #control-pane .keyframe:first-child :nth-child(5) {
      clear: left;
    }

    #control-pane .keyframe:first-child span {
      float:none;
    }

    #control-pane .keyframe:first-child label {
        padding-right: 14px;
        text-align: right;
    }

    #control-pane .keyframe div {
      clear: both;
      margin-bottom: 6px;
    }

    #control-pane .keyframe {
        border-top: 1px solid #ccc;
        clear: left;
        margin-top: 0;
        margin-left: 27px;
    }

    #control-pane .keyframe h3 {
        color: #0083e8;
        cursor: pointer;
        margin-left: -27px;
    }

    #control-pane .keyframe:first-child h3 {
      cursor: auto;
    }

    #control-pane .keyframe:nth-child(2) .pinned-button-array {
      display: none;
    }

    #control-pane .keyframe .pinned-button-array {
      float: right;
      margin: -28px 0 12px 0;
      position: relative;
    }

    #control-pane .keyframe div:last-child {
      margin-bottom: 0;
    }

    #control-pane .keyframe span {
      line-height: 28px;
      padding-right: 0;
      width: 26px;
    }

    #control-pane .keyframe .pinned-button-array button,
    #control-pane .keyframe .pinned-button-array span {
      line-height: 23px;
    }

    #control-pane .keyframe .property-field span {
      display: inline-block;
    }

  #control-pane .pinned-button-array {
    margin-bottom: -12px;
    overflow: hidden;
  }

    #control-pane .pinned-button-array label {
      float: right;
    }

    #control-pane .pinned-button-array label,
    #control-pane .pinned-button-array button {
      color: rgba(0, 0, 0, 0.6);
    }

    #control-pane .pinned-button-array span {
      padding-right: 34px;
      position: relative;
      visibility: hidden;
    }

    #control-pane .pinned-button-array:hover span {
      visibility: visible;
    }

    #control-pane .pinned-button-array label:active,
    #control-pane .pinned-button-array button:active {
      color: #ddd;
    }

    #control-pane .pinned-button-array  button {
      background: none;
      border: none;
      padding: 0;
      position: absolute;
      right: 6px;
      top: 0;
    }

  #control-pane span {
    padding-right: 12px;
  }

  #control-pane .ease-label {
    display: inline-block;
    width: 20px;
  }

  #control-pane select {
    border: 1px solid #9C9E9E;
    font-size: 1em;
    margin-left: 5px;
  }

  .mac.webkit #control-pane select {
    background: #E5E9E9;
    color: #454545;
    font-size: 13px;
  }

  #control-pane hr {
    margin: 6px 0 8px;
  }

  #control-pane .buttons {
    padding: 6px 0;
    text-align: left;
  }

  #control-pane input {
    font-size: 0.8em;
  }

  #control-pane input[type="checkbox"] {
    font-size: 1.1em;
  }

  #control-pane input.three-quarters {
    display: block;
    margin-top: 6px;
    width: 200px;
  }

  #control-pane textarea,
  #control-pane input.full-width {
    display: block;
    margin-top: 6px;
    width: 280px;
  }

  #control-pane .quality-slider {
    overflow: auto;
    padding-top: 12px;
  }

    #control-pane .quality-slider label {
      font-size: 13px;
    }

    #control-pane .quality-slider label:nth-child(1) {
      float: left;
    }

    #control-pane .quality-slider label:nth-child(2) {
      float: right;
    }

    #control-pane .quality-slider .dragon-slider {
        background-color: #d3d7d7;
        border: 1px solid #9c9e9e;
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12);
        height: 5px;
        margin: 26px auto 0;
        width: 290px !important;
    }

    #control-pane .quality-slider .dragon-slider button {
        background: #e5e9e9;
        border: 1px solid #9c9e9e;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 #fff;    
        cursor: hand !important;
        height: 17px;
        width: 10px;
        top: -7px !important;
    }

  #control-pane input.quarter-width {
    width: 38px;
  }

#motion-controls {
  float: left;
  padding: 0;
}

  #motion-controls input.error {
    background: #f55;
  }

#keyframe-controls {
  margin-top: 26px;
  overflow: visible;
}

  #keyframe-controls > .pinned-button-array {
    position: absolute;
    right: -10px;
    top: -26px;
    width: 100%;
  }

  #keyframe-controls .controls-wrapper {
    max-height: 400px;
    overflow: auto;
  }

  #keyframe-controls hr {
    margin-top: 12px;
  }

  #keyframe-controls h3:after {
    color: #454545;
    content: 'ms';
    margin-left: 2px;
  }

  #keyframe-controls ul.controls > li:first-child {
    padding-top: 0;
  }

#rekapi-canvas {
  height: 400px;
  left: 0;
  top: 0;
  width: 500px;
}

  #rekapi-canvas .rekapi-actor {
    line-height: 0;
    position: absolute;
  }

.pane {
    border: 1px solid #9C9E9E;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    margin: 20px;
/*
    overflow: hidden;
*/
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

  .pane .pane-handle {
    background: #d4d7d7;
    box-shadow: inset 0 1px 0 #f7f7f7;
    cursor: hand !important;
    height: 8px;
  }

  .pane .pane-content {
    background: #DFE2E2;
  }

.float-wrap {
  overflow: auto;
}

#editor {
  margin: 20px 0;
}

.rekapi-scrubber-wrapper {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.tabs {
    display: block;
    background: #D4D7D7;
    border-bottom: 1px solid #b4b7b7;
    height: 30px;
    line-height: 30px;
    overflow: visible;
}

    .tabs li {
        height: 29px;
        line-height: 30px;
        margin: 0 8px 0 0;
        padding: 0 4px;
        position: relative;
        float: left;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .tabs a {
        color: #454545;
        font-weight: 400;
    }

    .tabs li.tabs-active {
        background: #DFE2E2;
        border: 1px solid #B4B7B7;
        border-bottom: solid 1px #DFE2E2;
        box-shadow: inset 0 1px 0 #fff;
        line-height: 27px;
        top: 1px;
    }

    .tabs li.tabs-active a {
      color: #000;
    }

    .tabs li:first-child {
    margin-left: 6px;
    }

    .tabs li:last-child {
    margin-right: 0;
    }

    .tabs li a {
    padding: 0px 4px;
    }

.tabs-contents {
  padding: 6px 12px 12px;
}

  .tabs-contents > li {
    position: relative;
    width: 300px;
  }

.checkboxes {
  width: 270px;
}

  ul.controls .checkboxes li {
    float: left;
    padding-bottom: 0;
    width: 50%;
  }

#html-input {
  line-height: 0;
}

  #html-input textarea {
    margin-top: 9px;
  }

#top-level-alert {
  background: #a8a8a8;
  border-radius: 4px;
  display: none;
  height: 46px;
  padding: 4px;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 345px;
}

  #top-level-alert p {
    color: #fff;
    line-height: 1.2em;
    margin: 0;
    text-shadow: #555 0 0 1px;
  }
